[submodule "external/async-cpp"]
	path = external/async-cpp
	url = git@github.com:lufinkey/async-cpp.git
[submodule "external/data-cpp"]
	path = external/data-cpp
	url = git@github.com:lufinkey/data-cpp.git
[submodule "external/json11"]
	path = external/json11
	url = git@github.com:dropbox/json11.git
[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
[submodule "external/metacall/core"]
	path = external/metacall/core
	url = https://github.com/metacall/core.git
	ignore = dirty
[submodule "external/nodejs"]
	path = external/nodejs/node
	url = https://github.com/nodejs/node.git
