[submodule "external/json11"]
	path = external/json11
	url = git@github.com:dropbox/json11.git
[submodule "external/metacall/core"]
	path = external/metacall/core
	url = https://github.com/metacall/core.git
	ignore = dirty
[submodule "external/spotify-ios-streaming-sdk"]
	path = external/spotify-ios-streaming-sdk
	url = https://github.com/lufinkey/spotify-ios-streaming-sdk
[submodule "external/spotify-android-streaming-sdk"]
	path = external/spotify-android-streaming-sdk
	url = https://github.com/lufinkey/spotify-android-streaming-sdk
